<div>
	<div class="modal-header">
		<h3 class="modal-title"><span translate>Address</span>: {{address.note}}</h3>
	</div>
	<div class="modal-body">
		<tabset>
			<tab>
				<tab-heading>
					<span translate>Addresses</span>
				</tab-heading>
				<div ng-include src="'app2/address/address.htm'"></div>
			</tab>
			<tab>
				<tab-heading>
					<span translate>Reports</span>
				</tab-heading>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 translate>Reports</h3>
					</div>
					<div class="panel-body">
						<reports-generator filter="Address" data="[item]"></reports-generator>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" ng-disabled="addressForm.$invalid" ng-click="ok()" translate>
			Submit
		</button>
		<button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
	</div>
</div>


