<div ng-controller="LegalPersonsController">
	<h3 translate>LegalPersons</h3>

	<div class="container">
		<form name="legalPersonSearchForm" class="form-horizontal pull-right"
			  style="position: relative; top: -60px; height: 0px;">
			<div class="control-group">
				<label for="legalPersonName" translate>LegalPerson.Name</label>

				<div class="controls form-inline">
					<input type="text" id="legalPersonName" name="legalPersonName" ng-model="legalPersonName"
						   class="form-control"/>
					<button class="btn btn-primary btn-sm" ng-click="find()" translate>Find</button>
				</div>
			</div>
		</form>
	</div>

	<div ng-if="legalPersonsPager.list.length">
		<div class="row mgis-row-header">
			<div class="col-sm-2" translate>LegalPerson.Name</div>
			<div class="col-sm-2" translate>OKOPF</div>
			<div class="col-sm-2" translate>LegalPerson.ActualAddress</div>
			<div class="col-sm-1" translate>Phone</div>
			<div class="col-sm-1" translate>Email</div>
			<div class="col-sm-4">
			</div>
		</div>

		<div ng-repeat="item in legalPersonsPager.list" class="row" style="padding-bottom: 7px;">
			<div class="col-sm-2">
				<a href="javascript:void(0)" ng-click="editItem(item.id)">{{item.name}}</a>
			</div>
			<div class="col-sm-2">{{item.organizationalForm.name}}</div>
			<div class="col-sm-2">
				<a href="javascript:void(0)" ng-click="editAddressItem(item.actualAddress.id)">{{item.actualAddress|addressFormatter}}</a>
			</div>
			<div class="col-sm-1">{{item.contactPhone}}</div>
			<div class="col-sm-1">{{item.contactEmail}}</div>
			<div class="col-sm-4">
				<button class="btn btn-info btn-sm" ng-click="editItem(item.id)" translate>Edit</button>
				<button class="btn btn-danger btn-sm" ng-click="removeItem(item.id)" translate>Delete</button>
			</div>
		</div>

	</div>

	<div>
		<pagination total-items="legalPersonsPager.totalNumberOfItems" ng-model="currentPage"
					items-per-page="itemsPerPage" ng-change="pageChanged()"
					class="pagination-sm" previous-text="&lsaquo;"
					next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="pagerMaxSize"></pagination>
		<label class="mgis-pagination-total-label">{{'Total'|translate}} :
			{{legalPersonsPager.totalNumberOfItems}}</label>
	</div>
	<div>
		<button class="btn btn-info btn-sm" ng-click="addItem()" translate>Add</button>
	</div>

</div>
