.leaflet-control-mgis-constructs {
    height: 100%;
    overflow-y: auto;
}

.leaflet-control-mgis-constructs-expanded {
    padding: 6px 10px 6px 6px;
    color: #333;
    background: #fff;
}

.leaflet-control-mgis-constructs-expanded .leaflet-control-mgis-constructs-toggle {
    display: none;
}

.leaflet-control-mgis-constructs-collapsed .leaflet-control-mgis-constructs-toggle {
    display: block;
}

.leaflet-control-mgis-constructs-expanded .leaflet-control-mgis-constructs-list {
    display: block;
}

.leaflet-control-mgis-constructs-collapsed .leaflet-control-mgis-constructs-list {
    display: none;
}

.leaflet-control-mgis-constructs-toggle {
    background-image: url('../../../bower_components/leaflet/dist/images/layers.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 36px;
    height: 36px;
}

.leaflet-control-mgis-constructs-collapsed a {
    border-bottom-width: 0px;
}

.leaflet-control-mgis-constructs-list span {
    margin: 1px 15px 10px 10px;
    float: left;
}

.leaflet-control-mgis-constructs-list button {
    margin: 2px 3px 1px 1px;
    float: right;
}
