<div ng-controller="CapitalConstructsMapsController">
	<style>
		#constructs-map {
			height: 100%;
			width: 100%;
		}
	</style>
	<form name="constructSearchForm" class="form-horizontal pull-right" style="position: relative; top: -60px; height: 0px;">
		<div class="control-group">
			<label for="constructName" translate>CapitalConstructs.Construct.Name</label>

			<div class="controls form-inline">
				<input type="text" id="constructName" name="constructName" ng-model="constructName" class="form-control"/>
				<button class="btn btn-primary btn-sm" ng-click="find()" translate>Find</button>
				<button class="btn btn-primary btn-sm" ng-click="displayAsAList()" translate>CapitalConstructs.Construct.DisplayAsAList</button>
			</div>
		</div>
	</form>


	<div style="height: 70%;">
		<div id="constructs-map"></div>
	</div>

</div>
